.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.controls-selectors {
  display: flex;
}

@media (max-width: 740px) {
  .controls-selectors {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}
