@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

.app {
  font-family: "Ubuntu", sans-serif;
  width: 1080px;
  margin: 0 auto;
}

.title {
  font-family: "Paytone One", sans-serif;
  font-size: 50px;
  text-shadow: 2px 2px lightpink, 5px 5px darkgrey;
}

.title span::first-letter {
  font-size: 64px;
}

.movie-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 10px;
}
