@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

html,
body,
#root {
  height: 100%;
  background-color: #292929;
}

.app {
  font-family: "Ubuntu", sans-serif;
  background-color: #292929;
  color: white;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
