@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

html,
body,
#root {
  height: 100%;
  background-color: #292929;
}

.app {
  font-family: "Ubuntu", sans-serif;
  background-color: #292929;
  color: white;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.app-spinner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-spinner span {
  margin-top: 10px;
  width: 80px;
  font-size: 18px;

  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1.2s infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}
