header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.title {
  font-family: "Paytone One", sans-serif;
  font-size: 42px;
  text-shadow: 2px 2px lavenderblush;
  color: crimson;
  margin: 0;

  span::first-letter {
    font-size: 50px;
  }
}

@media (max-width: 740px) {
  .title {
    font-size: 36px;

    span::first-letter {
      font-size: 42px;
    }
  }
}
